<%= provide(:title, "Home")%>
<div class="jumbocontent">
	  <%= link_to image_tag('LOGO.png', class: 'img img-responsive logo pull-left'), root_path %><br/>
	  <h3>This is my smart to-do list Ruby on Rails Application.</h3>
</div>