<div class="jumbotron">
	<div class="container">
	  <%= link_to image_tag('LOGO.png', class: 'img img-responsive logo pull-left'), root_path %>
	  <h3>This is my smart to-do list Ruby on Rails Application.</h3>
	  <%= link_to 'Sign Up', new_user_registration_path, :class=>"btn btn-primary btn-lg" %>
	</div>
</div>
